/* HEADER */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.header{
    display:flex;
    height: 55px;
    background-color: #1f3c3d;
    color: white;
 
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover{
    color: yellow;
}

.header__contact {
    position: absolute;
    display: flex;
    left: 50px;
    top: 10px;
}

.header__symbols{
    display: flex;
    padding: 4px;
    color: white;
    fill: white;
}

.header__telephone{
    display: flex;
    padding: 4px;
    color: white;
    fill: white;
}


.header__social{
    position: absolute;
    display: flex;
    right: 50px;
    top: 10px;

}

/*  NAVBAR */

.navbar {
    display: flex;
    height: auto;
    border-bottom: 1px solid lightgray;
}

.navbar__logo > img{
    padding: 20px;
    width: 180px;
    margin-left: 50px;
}

.navbar__link > a {
    color: grey;
    font-size: 25px;
    font-weight: bold;
}
.navbar__icons{
    display: flex;
    padding: 10px;
    margin-right: 75px;
}
.navbar__symbols{
    padding: 5px;
}


/* CAROUSSEL IMAGES */

.carousel-item{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 235, 235);
    position: relative;
}

.carousel__image {
    width: 100%;
    height: 100%;
}

.carousel__content {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.carousel__h4{

    margin: auto;
}
.carousel__text{

    margin: auto;
}

/* ITEMS SHOWCASE */

.itemShowSection{
    padding-top: 80px;
}

#row1 {
   text-align: center;
   padding: 25px;
}

#row1 h1 {
    font-weight: bold;
}

.col{
    display: flex;
    flex-direction: column;
}

.col > img {
    width: 300px;
    margin: 0 auto;
}

.col > p {
    font-size: 30px;
}

#item__text {
    text-align: center;
}


.btnWidth{
    width: 80px !important;
    margin: 0 auto;
}



/* REVIEW SECTION */
.reviewSection{
    padding: 100px;
}

.reviewTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}


.reviewCards{
    display: flex;
    justify-content: center;
}

.card-body{
    max-width: 400px;
    font-weight: bold;
}

.card-body > img {
    width: 300px;
}

.card__ratingprice{
    padding-top: 10px;
    display: flex;
}

.card__price{
    
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.card__description{
    max-width: 300px;
}

/* FOOTER */
.footer{
    background-color: #1f3c3d;
    color: white;
    padding: 50px;
    padding-left: 12%;
}

.col > button{
    max-width: 100px;
}
.col > input{
    max-width: 200px;
}

.sub {
    display: block;
}



